.middle {
    margin: 20px calc(50% - 40%/2) 0 calc(50% - 40%/2);
}
.title{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
}
.items{
    background: #FFFFFF;
}
.item{
    padding: 5px  16px ;
}
.unfollow{
    background: none !important;
    color: #262626 !important;

}
.subsc{
    width: min-content;
    float:right;
    border-radius: 4px;
    background: #0095f6;
    color: #FFFFFF;
    margin: 5px 0 ;

    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 9px;
}
