.middle {
    padding-top: 30px;
    margin: 0 calc(50% - 61%/2);
}
.photo{
    margin-right: 30px;
    display: inline-flex;
    padding: 0 70px;
}
.header{
    display: flex;
    width: 100% ;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.info{
    width: 90%;
    position: relative;
}
.item{
    width: 100%;
    padding: 10px 0;
    min-height: 30px;
    font-size: 16px;
    line-height: 24px;
    word-wrap: break-word;
}
.item>.user_name{
    font-size: 28px;
    line-height: 32px;
    color: rgba(var(--i1d,38,38,38),1);
    font-weight: 300;
    margin-right: 20px;
}
.info_count{
     display: inline-flex;
     cursor: pointer;
     margin-right: 40px;
     font-size: 16px;
 }
b{
    color: rgba(var(--i1d,38,38,38),1);
    font-weight: 600;
    margin-right: 5px;
}
.h1{
    display: inline;
    font-weight: 600;
}
.header a{
    color: rgba(var(--fe0,0,55,107),1);
    text-decoration: none;
    font-weight: 600;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tabs{
    display: flex;
    color: rgba(var(--i1d,38,38,38),1);
    border-top: 1px solid rgba(var(--b38,219,219,219),1);
    padding: 0 calc(100%/4);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}
.tab{
    cursor: pointer;
    padding: 20px 30px;

}
.activeTab{
    border-top: 1px solid #939292;
    margin-top: -1px;
}

.image {
    display: inline-block;
    width: 286px;
    float: left;
    height:286px;
    margin: 0 33px 30px 0;
    position: relative;
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
}
.image:nth-child(3n){
    margin-right: 0;
}